# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# PSoC Creator related files
# https://community.cypress.com/thread/18187?start=0&tstart=0
.DS_Store
*.cywrk.*        
*.cyprj.*        
*.cycdx        
*.cyfit        
*.rpt        
*.uvopt        
*.uvproj        
*_timing.html        
*.cydsn/codegentemp        
*.cydsn/DP8051        
*.cydsn/Generated_Source
# My updates for PSOC4
*.log
CortexM0/
Export/
codegentemp/
Generated_Source/
*.svd
*.rpt